{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load tags_helpers %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ page_title }}{{ block.super }}{% endblock title %}
{% block content_description %}{{ page_description }}{% endblock content_description %}
{% block page_keywords %}{{ page_keywords }}{% endblock page_keywords %}
{% block link_alternate %}{% alternate_lang_links 'website:about' %}{% endblock link_alternate %}

{% block pageheader %}
<header class="masthead" style="background-image: url('{% static 'assets/img/microcircuit-bg.jpg' %}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if LANGUAGE_CODE == "ru" %}
            <h1>О себе</h1>
            <span class="subheading">Чем занимаюсь и увлекаюсь, хобби.</span>
          {% else %}
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock pageheader %}


{% block pagecontent %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        {% if LANGUAGE_CODE == "ru" %}
          <p>В свободное время занимаюсь своими небольшими пет-проектами (апгрейдом веб-приложения (плеера) для онлайн радио и скриптами для ежедневной рутины), прокачивая навыки разработчика на практике, также регулярно читаю различную документацию и статьи, чтобы на будущих собеседованиях не ударить в грязь лицом.</p>
          <p>Что-то из этого можно посмотреть на <a href="https://github.com/hotenov" target="_blank">GitHub</a>. В будущем, возможно, появится отдельный раздел с моими проектами на этом сайте. Правда, будущее сейчас особенно не предсказуемо...</p>
          <p>Отдыхаю и даю передышку для мозга за просмотром (прослушиванием) стоячей 😄 комедии и некоторых подкастов. В том числе и профильных: Веб-стандарты, ShopTalk, Off The Main Thread. Перед сном обычно смотрю какие-нибудь YouTube видео на английском языке о том как устроены вещи вокруг, аналитические репортажи и новости Starbase 🚀.</p>
          <p>Чтобы работать и жить было легче, делаю музыкальные миксы (сеты). Записываю и публикую их теперь всё реже (зависит от работы и других дел). Однако, в архиве уже более 300 часов музыки различных направлений. Можно послушать (и даже скачать) на моей странице <a href="https://promodj.com/spryart" target="_blank">PromoDJ</a>. Загляните, а вдруг вам понравится.</p>
        {% else %}
          <p>In spare time, I'm engaged in development of my small web app of online radio, and also I spend time maintaining my small pet projects (scripts for daily routine) to learn and hone my skills as software (web) developer in practice. Regular reading various documentation and articles as essential part of learning process will help me (I hope) in future job interviews.</p>
          <p>Part of my projects are available on <a href="https://github.com/hotenov" target="_blank">GitHub</a>. Maybe, someday I'll create a separate section with my projects on this website.</p>
          <p>For joy and pleasure, I like watching (listening) stand-up comedy. Before sleep, I watch YouTube videos about technologies and how things work. When I'm cooking I listen to podcasts: Luke's English Podcast, Web Standards (RU), ShopTalk, Off The Main Thread.</p>
          <p>I really like doing music mixes. Once or twice a quarter, I compile a new one and record it. After that I publish it on my social media. You can check the archive on my <a href="https://promodj.com/spryart" target="_blank">PromoDJ</a> space.</p>
        {% endif %}

      </div>
    </div>
  </div>
</main>
{% endblock pagecontent %}
