{% comment %} 
  This is a quick hack to let possible / popular fontawesome icon styles
  to be inserting into result 'all-fonts-opt.css'
  Because I purge manually the original 'all.css' of fa self-hosting archive.
  These styles are not mentioned anywhere (HTML, JS, CSS)
  BUT they can be set by entering a certain style in admin panel.

  I know this is a bad idea. But this let me use compressed CSS file with fa fonts
  instead of linking external CSS file with ALL icons.

  After adding new style (icon) in the list Below
  DO NOT FORGET to re-build frontend assets (via 'npm' command)
{% endcomment %}

<!--

  <i class="fa-solid fa-location-dot"</i>
  <i class="fa-regular fa-envelope"</i>
  <i class="fa-solid fa-globe"></i>
  <i class="fa-brands fa-linkedin-in"></i>
  <i class="fa-brands fa-github">
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-x-twitter"></i>
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-mastodon"></i>

-->